<p>setup works!</p>

<ol>
  <li>Explain the process</li>
  <li>Enter basic shop info</li>
  <li>Save the current step to local storage</li>
  <li>Deploy the contract and get the contract address, save to local storage</li>
  <li>Deployment of the Shop Contract will issue owner NFT to creator</li>
  <li>Create the Ceramic Document with Shop Description, set control to the owner NFT - CHECK IF THAT WORKS</li>
  <li>Display the shop URL something as https://shop.w3shop.eth.link/CODE or https://shop.w3shop.eth/CODE, also display fallback URL without the eth address, only IPFS.</li>
  <li>Ask to register the shop so its globally listed?</li>
</ol>

<!--
  const doc = await TileDocument.deterministic(
  ceramic,
  { family: 'w3shop', tags: ['SMART_CONTRACT_ID'] }
);
-->