<w3s-nav></w3s-nav>

<div class="container">
  <w3s-title title="Privacy Statement">Learn what data is collected and how it is used.</w3s-title>
  <div class="row justify-content-center">
    <div class="col col-md-8 mb-4">
      <p>
        Please be aware that this is only an open source front-end software. ALL the data associated with a shop is
        saved on the blockchain and read out by interacting with the individual contracts.
        The creator of this shop software has no influence over who is reading this public data.<br>
        The shop frontend is hosted via IPFS and thus can be decentrally hosted by multiple persons or organizations
        around the globe.<br>
        If you are concerned that a IPFS gateway could gather user data, please run a own gateway, or just download the
        code of this shop and run it locally on your machine.
      </p>
      <p>
        When a user creates his shop, all associated data is put into <a href="https://www.arweave.org/"
          target="_blank">Arweave</a> via the Bundlr network. Arweave is a storage centric
        blockchain and Bundlr operates a bridge to allow data to be saved via Ethereum.
        Please check with <a href="https://bundlr.network/" target="_blank">Bundlr</a> if they collect personal
        information like the IP address when you interact with their bridge.
      </p>
      <p>
        For encrypting and decrypting content files you interact with the <a href="https://litprotocol.com/"
          target="_blank">Lit Protocol</a>. Please check on their website if and how they might collect personal data.
      </p>
      <p>
        Temporary data is put into the local storage of your browser to optimize the user experience. This is data that
        is not personally related. Its data like certain IDs to pickup aborted processes during normal operation of the
        shop software.
      </p>
      <p>
        When you create a shop you mint an NFT that is originally associated with your wallet address that was used
        create your shop. If you want to display all the data that is saved in the shop contract, please use the link
        in the footer of this page.
      </p>
    </div>
  </div>
  <div>
    <div class="row justify-content-center mb-4">
      <div class="col col-md-8">
        <w3s-back-btn></w3s-back-btn>
      </div>
    </div>
  </div>
</div>