<div class="jumbotron">
  <div class="container col-xxl-8 px-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="assets/logo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500"
          loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">The decentral Webshop!</h1>
        <p class="lead">This Webshop is build with the digital Content Creator in mind. No fees or issues with payment
          providers anymore. The Web3 shop "lives" truely in the cloud.<br>
          Proceeds go 100% to your wallet: <b>Your content, your earnings</b>.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-primary btn-lg px-4 me-md-2" href="#more" role="button">Learn more »</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <w3s-alpha-warning></w3s-alpha-warning>
  </div>
</div>

<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="row featurette m-5">
    <div class="col-md-7 align-self-center">
      <h2 class="featurette-heading">Decentralized. Forever. <span class="text-muted">Your content stays.</span>
      </h2>
      <p class="lead">
        The data and configuration of your shop are placed on the Blockchain. It will be resolved via the shop's
        URL. That's all that is needed to display your shop to your customer.</p>
      <p class="lead">
        Your customer can be assured that the digital content they buy will be there forever, and can be re-downloaded
        all the time.</p>
    </div>
    <div class="col-md-5 text-center">
      <figure class="figure">
        <img src="assets/wall.jpg" data-holder-rendered="true" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-right">Photo by <a href="https://unsplash.com/photos/QL0FAxaq2z0">Jon
            Tyson</a> on <a href="https://unsplash.com/">Unsplash</a></figcaption>
      </figure>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette m-5">
    <div class="col-md-7 order-md-2 align-self-center">
      <h2 class="featurette-heading">Digital Collectables?! <span class="text-muted">NFTs supercharged.</span>
      </h2>
      <p class="lead">Every sold digital good is represented via an digital collectiable token that
        governs the access to the digital file via the Lit Protocol.<br>
        Purchased items can be re-sold and form a secondary market, just like physical goods!</p>
      <p class="lead">Even the ownership of your shop is engraved into a special Ownership-NFT. If someone else should
        take over ownership of your shop: Just send or sell him your ownership token.</p>
    </div>
    <div class="col-md-5 order-md-1 text-center">
      <figure class="figure">
        <img src="assets/nft.jpg" data-holder-rendered="true" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-right">Photo by <a href="https://unsplash.com/photos/yscrM1AOEKI">Andrey
            Metelev</a> on <a href="https://unsplash.com/">Unsplash</a></figcaption>
      </figure>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette m-5">
    <div class="col-md-7 align-self-center">
      <h2 class="featurette-heading">We <fa-icon [icon]="faHeart"></fa-icon> Layer 2! <span class="text-muted">Cheap and
          simple.</span></h2>
      <p class="lead">To keep the costs low the software utilizes Layer 2 technology to execute all the Smart Contract
        logic inside a rollup. This reduces energy consumption substantially and makes it environment-friendly.
        Usability and sustainability are the number one design priority of this software.</p>
    </div>
    <div class="col-md-5 text-center">
      <figure class="figure">
        <img src="assets/windmills.jpg" data-holder-rendered="true" class="figure-img img-fluid rounded">
        <figcaption class="figure-caption text-right">Photo by <a href="https://unsplash.com/photos/4NhqyQeErP8">Zbynek
            Burival</a> on <a href="https://unsplash.com/">Unsplash</a></figcaption>
      </figure>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
</div>

<div class="container" id="more">
  <div class="row">
    <div class="col-12">
      <h2>How does it work?</h2>
      <p>
        This software is client-side-only. No server infrastructure is required for this shops to work. In theory this
        page can be self hosted or run on a home PC locally. You only need to interact with several Blockchains in order
        to fetch and process the shops information.
      </p>
      <p>
        After you visit a shop via its ID the Smart Contract on Arbitrum is queried and the shop configuration is
        fetched from <a href="https://www.arweave.org/" target="_blank">Arweave</a> and loaded. The shop visitor can
        then look up items and put them into a cart. During checkout, a payment transaction is built and sent for
        verification, together with the money to a Smart Contract in <a href="https://offchainlabs.com/"
          target="_blank">Arbitrum</a>. If the payment succeeds an NFT is minted that represents ownership of this
        digital item.
      </p>
      <p>
        The buyer can then download the encrypted data from <a href="https://www.arweave.org/"
          target="_blank">Arweave</a> and decrypt it with the help of the <a href="https://litprotocol.com/">Lit
          Protocol</a>. The usage of the Arweave Blockchain makes sure encryption and data retrieval are possible for
        every buyer, even if the item is resold later on.
      </p>
      <p>Ownership of a Shop is also expressed and controlled via a special Ownership-NFT that is minted and given to
        you when you create your own shop instance. If you possess this NFT you have full control over the shop and can
        withdraw the earned money or put items in it to sell.</p>
    </div>

    <div class="col-12">
      <h2>FAQ</h2>

      <h4>How much does it cost to operate a shop?</h4>
      <p>When you modify some shop configurations the data has to be persisted and put also into the blockchain network.
        This costs money. How much is a bit dependent on the load on the network. However upcoming changes to Ethereum
        can reduce those costs significantly. In the table below you see some experience values during low/moderate
        network load.</p>

      <div class="row justify-content-center">
        <div class="col-8">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Operation</th>
                <th scope="col">Price (@ 1 ETH = 1200 $)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Create a shop</td>
                <td>0.30 $</td>
              </tr>
              <tr>
                <td>Edit shop configuration</td>
                <td>0.04 $</td>
              </tr>
              <tr>
                <td>Create item to sell</td>
                <td>0.03 $ + 0.002 $/MB</td>
              </tr>
              <tr>
                <td>Buy Process</td>
                <td>0.05 $</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h4>Will the code be open source?</h4>
      <p>Yes! As soon as the codebase has matured and we are on the Beta, the code will be open sourced on Github under
        the GPL v3.</p>

      <h4>Will it support other rollup techs like zkSync?</h4>
      <p>Definitely. The choice fell to Arbitrum because it was pretty established and had a good support from other
        tools that are required for the shop to work (Lit Protocol and Bundlr Network). As soon as those support zkSync
        too this rollup can be supported as well.</p>

      <h4>How can this dApp help to earn crypto when you need crypto to create a shop?</h4>
      <p>Good point. Bootstrapping yourself on the blockchain can be hard if you have 0 ETH at the beginning. Thats not
        very welcoming to new users. One idea would be to have some sort of sponsored shops where others pay for setting
        up your shop for a small interest fee that needs to be payed back by the shop owner. But lets discuss more of
        those ideas on <a
          href="https://orbis.club/group/kjzl6cwe1jw148g91hce2elv8hiktmbs2bppox00qtenvu1k73jlqa7yxmle7e0"
          target="_blank">our group at Orbis</a>.</p>

      <h4>Why is only Metamask wallet supported?</h4>
      <p>The goal is to be as a proof of concept to be as decentralized as possible. WalletConnect requires a connection
        to a backend like Infura (technically this is also true for a vanilla Metamask), with an API key. This means the
        dApp operator needs to keep this working. Thats what should be avoided with this project.</p>

      <h4>Do I loose access to my bought items when the shop goes offline?</h4>
      <p>The shopw software is hosted via IPFS. So anyone could host it. As long as one person on the planet hosts the
        website its up. Its code is also fully opened sourced. In the future there might be even offline variants of the
        shop that run locally. Its very unlikly that this frontend will ever go away.<br>The shop contracts are
        immutable and stay forever in the blockchain.
      </p>

      <h4>If items can be resold, after someone saw the content, isn't this a stupid system?</h4>
      <p>Well, in a way its very similar to the "old" way of selling digital content. A customer could also make a
        private copy of a CD-ROM or a casset tape and re-sell this item. In the real world you some wear and tear and
        people might wanted to buy a new item. Here this is mitigated by trying to enforce a royality fee. For
        interactive contents like a video game or computer programm you can always do some checks during startup e.g. if
        the user currently owns a token instance that grants access to the software.</p>

      <h4>Will there be a token?</h4>
      <p>Nothing planned yet. Discuss on <a
          href="https://orbis.club/groups/kjzl6cwe1jw149efbqvnezbxg0iq8wmz6y23avcf3idff8zvu6zgx6297yb6xxd">Orbis
          Discussion Group</a> the potential use cases of a token.</p>

      <h4>Is there Vice Capital involved?</h4>
      <p>Nope, this is just a regular Open Source project. Completly developed by enthusiasts alone.</p>

      <p class="text-center mt-4 text-muted">Still pretty empty huh? - Come over to our <a target="_blank"
          href="https://orbis.club/groups/kjzl6cwe1jw149efbqvnezbxg0iq8wmz6y23avcf3idff8zvu6zgx6297yb6xxd">Orbis
          Discussion Group</a> and ask some questions so we can fill this section up!</p>
      <hr class="mt-4">
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mb-4">What are you waiting for?</h1>
      <a routerLink="/setup" class="btn btn-success btn-lg">Create your own W3Shop now <fa-icon [icon]="faChevronRight">
        </fa-icon></a>
    </div>
  </div>
</div>

<div class="container logos">
  <div class="row">
    <div class="col text-center align-self-center">
      <img class="img-fluid" src="assets/ethereum-logo.png" alt="Ethereum Logo">
    </div>
    <div class="col text-center align-self-center">
      <img class="img-fluid" src="assets/arbitrum-logo.svg" alt="Arbitrum Logo">
    </div>
    <div class="col text-center align-self-center">
      <img class="img-fluid" src="assets/bundlr-logo.svg" alt="Bundlr Logo" style="width: 60%; height: 60%;">
    </div>
    <div class="col text-center align-self-center">
      <img class="img-fluid" src="assets/arweave-logo.svg" alt="Arweave Logo" style="width: 60%; height: 60%;">
    </div>
    <div class="col text-center align-self-center">
      <img class="img-fluid" src="assets/lit-logo.png" alt="Lit Protocol Logo">
    </div>
  </div>
</div>