<w3s-nav>
  <div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <w3s-wallet></w3s-wallet>
      </li>
    </ul>
  </div>
</w3s-nav>

<section class="container">
  <w3s-title title="Tools">Collection of utility functions to perform maintenance work or debugging tasks.</w3s-title>

  <h2>Manual File Upload</h2>

  <div class="form-group row">
    <label for="nftImage" class="col-sm-2 col-form-label"><strong>File Upload</strong></label>
    <div class="col-sm-5">
      <input #contentFile id="file" type="file" class="form-control" aria-describedby="itemFileHelp"
        (change)="onFileContentChange(contentFile.files)">
      <small id="itemFileHelp" class="form-text text-muted">
        Choose a file and upload it to Arweave via Bundlr with this helper tool. After the upload you will get the
        transaction ID to retrieve the file.<br>
        The uploaded file will not be encrypted.
      </small>
    </div>
    <div *ngIf="fileInfo === null" class="col-sm-5">
      No file is choosen.
    </div>
    <div *ngIf="fileInfo !== null;" class="col-sm-5">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" colspan="2">File Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Filename:</th>
            <td>{{fileInfo.fileName}}</td>
          </tr>
          <tr>
            <th scope="row">File Size:</th>
            <td>{{fileInfo.fileSizeBytes | fileSize}}</td>
          </tr>
          <tr>
            <th scope="row">File Type:</th>
            <td>
              <w3s-mime-icon [mimeType]="fileInfo.type"></w3s-mime-icon> {{fileInfo.type}}
            </td>
          </tr>
          <tr>
            <th scope="row">Last Modified:</th>
            <td>{{fileInfo.lastModified | date:'short'}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="fileInfo !== null;" class="text-end"><button class="btn btn-success" (click)="uploadFile()">Upload</button></div>
    </div>
  </div>
  <div *ngIf="uploadInfo; let info" class="row">
    <div class="col">
      <div class="alert alert-success" role="alert">
        <h4>Upload Success</h4>
        <div>The Arweave Transaction ID is: <code>{{info.txId}}</code></div>
        <div></div>You can download your file via an Arweave Gateway like: <a [href]="info.gatewayUri"
          target="_blank">{{info.gatewayUri}}</a>
      </div>
    </div>
  </div>
</section>