<div class="d-flex w-100 justify-content-between">
  <h5 class="mb-1">
    <fa-icon *ngIf="step.state === StepState.PENDING" [icon]="faIconPending"></fa-icon>
    <fa-icon *ngIf="step.state === StepState.SUCCESS" [icon]="faIconSuccess"></fa-icon>
    <fa-icon *ngIf="step.state === StepState.SKIPPED" [icon]="faIconSkipped"></fa-icon>
    <fa-icon *ngIf="step.state === StepState.WAITING" [icon]="faIconWaiting"></fa-icon>
    <fa-icon *ngIf="step.state === StepState.FAILED" [icon]="faIconFailed"></fa-icon>
    {{step.title}}
  </h5>
  <small *ngIf="step.state === StepState.PENDING"><span class="badge bg-primary">Pending</span></small>
  <small *ngIf="step.state === StepState.SUCCESS"><span class="badge bg-success">Success</span></small>
  <small *ngIf="step.state === StepState.SKIPPED">Skipped</small>
  <small *ngIf="step.state === StepState.WAITING">Waiting</small>
  <small *ngIf="step.state === StepState.FAILED"><span class="badge bg-danger">Failed</span></small>
</div>
<div *ngIf="step.state === StepState.PENDING" class="mt-2">
  <div class="text-left">
    {{step.text}}
  </div>
  <div class="d-flex w-100 justify-content-between mt-2">
    <div *ngIf="step.isTxPending === true" class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <button *ngIf="(disabledReason$ | async) === null" [disabled]="step.isTxPending" class="btn btn-primary ml-auto"
      (click)="clickButton()">{{step.buttonText}}</button>
    <div *ngIf="(disabledReason$ | async) as reason" class="ml-auto">
      <fa-icon [icon]="faWarning" [tooltip]="reason" class="text-danger"></fa-icon>
      <button disabled class="btn btn-primary ml-auto">{{step.buttonText}}</button>
    </div>
  </div>
</div>
<div *ngIf="step.state === StepState.FAILED" class="mt-2">
  <div class="text-left">
    {{step.errorText}}
    <div *ngIf="step.errorMessage"><code>{{step.errorMessage}}</code></div>
  </div>
  <div *ngIf="(disabledReason$ | async) === null" class="d-flex w-100 justify-content-between mt-2">
    <button class="btn btn-primary ml-auto" (click)="clickButton()">{{step.buttonText}}</button>
  </div>
  <div *ngIf="(disabledReason$ | async) as reason" class="d-flex w-100 justify-content-between mt-2">
    <button class="btn btn-primary ml-auto" disabled>{{step.buttonText}}</button>
  </div>
</div>