<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLink="/aHR0cDovL2xvY2FsaG9zdDo0MjAwL2Fzc2V0cy9jb25maWcuanNvbg"
      routerLinkActive="active">{{shopName$ | async}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item"><a class="nav-link" href="/aHR0cDovL2xvY2FsaG9zdDo0MjAwL2Fzc2V0cy9jb25maWcuanNvbg/about">About</a></li>
        <!-- Show only if no URL given, otherwise just show inside admin dashboard -->
        <li class="nav-item"><a class="nav-link" routerLink="/setup">Create Shop</a></li>
      </ul>

      <form class="d-flex">
        <!-- Show only if connected with admin wallet -->
        <button class="btn btn-outline-danger mr-2" type="submit">
          Admin
        </button>
        <!-- Show only if not connected with wallet -->
        <button type="button" class="btn btn-outline-success mr-2" (click)="connectWallet()">Connect Wallet</button>
        <!-- Show only if connected with wallet -->
        <button class="btn btn-outline-dark" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>
    </div>
  </div>
</nav>

<m-web3-modal title="Connect Wallet" dismissText="Close"></m-web3-modal>