<section *ngIf="!(isWalletConnected$ | async)" class="px-4 py-5 my-5 text-center">
  <h1 class="d-block mx-auto mb-4 display-1 text-muted">
    <fa-icon [icon]="faFaceSadTear"></fa-icon>
  </h1>
  <h1 class="display-5 fw-bold">No Wallet connected</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Please connect a wallet first in order to list the contents of this shop.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="connectWallet()">Connect Wallet</button>
      <a class="btn btn-outline-secondary btn-lg px-4" routerLink="./no-wallet">Why do I need a Wallet?</a>
    </div>
  </div>
</section>