<!-- Personal Icons -->
<div *ngIf="isWalletConnected$ | async" class="d-flex">
  <a class="btn btn-success mr-2" [routerLink]="['/', 's', shopIdentifier$ | async, 'my-items']">
    <fa-icon [icon]="faBoxOpen"></fa-icon> Owned Items
  </a>
</div>

<!-- Wallet Connect -->
<div *ngIf="(isAdmin$ | async)" class="d-flex">
  <a class="btn btn-secondary mr-2" [routerLink]="['/', 's', shopIdentifier$ | async, 'admin', 'item']">
    <fa-icon [icon]="faCirclePlus"></fa-icon>
  </a>
  <a class="btn btn-secondary mr-2" [routerLink]="['/', 's', shopIdentifier$ | async, 'admin']">
    <fa-icon [icon]="faGaugeHigh"></fa-icon>
  </a>
  <a class="btn btn-secondary mr-2" [routerLink]="['/', 's', shopIdentifier$ | async, 'admin', 'settings']">
    <fa-icon [icon]="faSliders"></fa-icon>
  </a>
</div>
<w3s-wallet></w3s-wallet>
<div class="d-flex">
  <w3s-cart></w3s-cart>
</div>