<section class="py-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-danger" role="alert">
          <fa-icon [icon]="faTriangleExclamation"></fa-icon>&nbsp;<strong>This is alpha software!</strong>&nbsp;<fa-icon [icon]="faTriangleExclamation"></fa-icon> It is currently only
          connected to Rinkeby and Arbitrum Rinkeby Testnets. The smart contracts are neither very well tested nor
          audited. Please use on your own risk.
        </div>
      </div>
    </div>
  </div>
</section>