<!-- Footer -->
<footer class="pt-5 bg-dark text-white">
  <div class="container py-4">
    <div class="row">
      <div *ngIf="!(isShopResolved$ | async)" class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">W3Shop.eth</h5>
        <p>
          Sell digital content with an unstoppable and permanent store!<br>
          No man in the middle required. Get payed in crypto.
        </p>
      </div>

      <!-- Display when resolved -->
      <div *ngIf="(isShopResolved$ | async) && shopInfo$ | async; let shopInfo" class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">{{shopInfo.shopName}}</h5>
        <p>
          {{shopInfo.shortDescription}}
        </p>
        <p class="text-muted">
          Contract: <a href="{{'https://arbiscan.io/token/' + shopInfo.contractAddr}}">{{shopInfo.contractAddr}}</a>
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contributing</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <w3s-footer-link href="https://github.com/tfelix/w3shop/blob/main/README.md" text="Documentation"
              [icon]="faBook">
            </w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link href="https://github.com/tfelix/w3shop" text="Github" [icon]="faGithub"></w3s-footer-link>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Socials</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <w3s-footer-link
              href="https://orbis.club/groups/kjzl6cwe1jw149efbqvnezbxg0iq8wmz6y23avcf3idff8zvu6zgx6297yb6xxd"
              text="Orbis" [icon]="faCircle"></w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link href="https://twitter.com/w3shop" text="Twitter" [icon]="faTwitter"></w3s-footer-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pt-3 pb-4" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="container">
      <div class="row text-muted">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <div>v{{websiteVersion}} (Build: {{websiteHash}})</div>
          <div>Factory Contract: <a target="_blank" [href]="factoryContractHref"
              class="text-reset">{{factoryContract}}</a>
            <fa-icon [icon]="faArrowUpRightFromSquare" class="pl-2"></fa-icon>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <div *ngIf="!(isShopResolved$ | async)" class="mt-2">
            Made with ❤️ by <a href="https://mirror.xyz/tfelix.eth" class="text-reset">tfelix.eth</a>
          </div>
          <div class="mt-2">
            Icons by <a href="https://fontawesome.com/" class="text-reset">Fontawesome</a> - <a
              href="https://creativecommons.org/licenses/by/4.0/" class="text-reset">CC BY 4.0</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>