li {
  line-height: 1.6rem;
}

h5 {
  margin-bottom: 1.2rem;
}

footer {
  padding-top: 2rem;
}

.second-footer {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.85rem;
}

footer ul > li {
  margin-bottom: 0.3rem;
}

.second-footer td {
  padding: 0;
  vertical-align: baseline;
}