<!-- Footer -->
<footer class="bg-dark text-white mt-auto">
  <div class="container py-4">
    <div class="row  mb-4 mb-md-0" *ngIf="(isShopIdentifierPresent$ | async) === false">
      <div class="col-12 col-md-6 col-lg-3">
        <h5 class="text-uppercase"><a routerLink="/">{{shopName$ | async}}</a></h5>
        <p class="slug text-muted">
          Sell digital content with your own store!<br>
          No man in the middle required. Get payed in crypto.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
        <h5 class="text-uppercase">Developers</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <w3s-footer-link href="https://github.com/tfelix/w3shop/blob/main/README.md" text="Documentation"
              [icon]="faBook">
            </w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link href="https://github.com/tfelix/w3shop" text="Github" [icon]="faGithub"></w3s-footer-link>
          </li>
          <li>
            <fa-icon [icon]="faTools" class="pr-2"></fa-icon> <a class="text-reset" routerLink="/tools">Tools &amp;
              Helper</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-4 mt-lg-0">
        <h5 class="text-uppercase">Socials</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <w3s-footer-link
              href="https://orbis.club/group/kjzl6cwe1jw148g91hce2elv8hiktmbs2bppox00qtenvu1k73jlqa7yxmle7e0"
              text="Orbis Community" [icon]="faCircle"></w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link href="https://twitter.com/w3shop_eth" text="Twitter" [icon]="faTwitter"></w3s-footer-link>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-4 mt-lg-0">
        <h5 class="text-uppercase">Legal</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="text-reset" routerLink="/legal/privacy">Privacy Policy</a>
          </li>
          <li>
            <a class="text-reset" routerLink="/legal/disclaimer">Disclaimer</a>
          </li>
          <li>
            <a class="text-reset" routerLink="/legal/usage">Usage Policy</a>
          </li>
          <li>
            <a class="text-reset" routerLink="/legal/licenses">Licenses</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mb-4 mb-md-0" *ngIf="(isShopIdentifierPresent$ | async) === true">
      <div *ngIf="shopName$ | async; let shopName" class="col-md-12">
        <h5 class="text-uppercase">{{shopName}}</h5>
        <p *ngIf="(shortDescription$ | async) !== null">
          {{shortDescription$ | async}}
        </p>
      </div>
    </div>
  </div>
  <!-- Second Footer Section -->
  <div class="pt-3 second-footer">
    <div class="container text-muted">
      <div class="row mb-2">
        <div class="col-md-6">
          <table class="table table-sm table-borderless text-muted">
            <tr>
              <td>Software Build</td>
              <td>{{websiteHash}}</td>
            </tr>
            <tr>
              <td>Factory Contract</td>
              <td>
                <w3s-contract-address [address]="factoryContract"></w3s-contract-address>
              </td>
            </tr>
            <tr *ngIf="(shopContractAddress$ | async); let shopContractAddress">
              <td>Shop Contract</td>
              <td>
                <w3s-contract-address [address]="shopContractAddress"></w3s-contract-address>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="(isShopIdentifierPresent$ | async) === false" class="row my-1">
        <div class="col text-center">
          Powered by <a routerLink="/">w3shop.eth</a> |
          Code licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.de.html" target="_blank">GPL-3.0</a>
        </div>
      </div>
      <div *ngIf="(isShopIdentifierPresent$ | async) === true" class="row my-1">
        <div class="col text-center">
          Powered by <a routerLink="/">w3shop.eth</a> |
          Code licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.de.html" target="_blank">GPL-3.0</a> |
          <a routerLink="/legal/usage" target="_blank">Usage Policy</a> |
          <a routerLink="/legal/privacy" target="_blank">Privacy</a> |
          <a routerLink="/legal/licenses" target="_blank">Licenses</a>
        </div>
      </div>
      <div class="row pb-4 pt-2">
        <div class="col text-center">
          Developed with ❤️ by <a href="https://mirror.xyz/tfelix.eth" target="_blank">tfelix.eth</a>
        </div>
      </div>
    </div>
  </div>
</footer>