<div class="card">
  <img
    [src]="item.primaryThumbnail"
    class="card-img-top" [alt]="item.name">
  <div class="card-body">
    <h5 class="card-title">{{item.name}}</h5>
    <p class="card-text">{{item.description}}</p>
    <p class="text-center h4">
      <w3s-price [priceData]="item.price"></w3s-price>
    </p>
    <div class="row mt-3">
      <div class="col-12 col-md-6"><button class="btn btn-primary btn-block" (click)="addItemToCart()"><fa-icon
            [icon]="faAddCart"></fa-icon><span class="d-none d-md-inline"> Add to Cart</span></button></div>
      <div class="col-12 col-md-6"><a [routerLink]="['item', item.id]" class="btn btn-outline-primary btn-block">Show
          Details</a></div>
    </div>
  </div>
</div>