<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">The unstoppable Webshop!</h1>
    <p>This Webshop is build with the digital Content Creator in mind. No fees or issues with a payment
      providers. The Web3 shop "lives" truely in the cloud and its data is owned by you, and you alone. Proceeds go 100%
      to your wallet. Your content, your earnings.
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
  </div>
</div>

<div class="container marketing">
  <!-- START THE FEATURETTES -->
  <div class="row featurette m-5">
    <div class="col-md-7 p-5">
      <h2 class="featurette-heading">Decentralized. Forever. <span class="text-muted">Your content stays.</span>
      </h2>
      <p class="lead">
        The internal data of your shop is placed on the Ceramic Network and will be resolved via its URL. Thats all what
        is needed to display this shop Dapp to your customers. The content you sell lives on IPFS or Arweave.</p>
      <p class="lead">
        Your customer can be assured that the digital content they buy will be there, and can be re-downloaded all the
        time.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
        style="width: 500px; height: 500px;" src="assets/wall.jpg" data-holder-rendered="true">
      <div class="text-muted text-center">
        Photo by <a href="https://unsplash.com/photos/QL0FAxaq2z0">Jon Tyson</a> on <a
          href="https://unsplash.com/">Unsplash</a>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette m-5">
    <div class="col-md-7 order-md-2 p-5">
      <h2 class="featurette-heading">Eeen, Eeeef, Tees?! <span class="text-muted">How they are ment to be played.</span>
      </h2>
      <p class="lead">NFTs are getting used on a next level: Every sold digital good is represented via an NFT that
        governs the access to the digital files via the Lit Protocol. Yes, they can be re-sold, like physical goods!</p>
      <p class="lead">Even the ownership of the your shop is engraved into a special Owner NFT. Someone else should take
        over your shop? Just send him your Owner NFT.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
        style="width: 500px; height: 500px;" src="assets/nft.jpg" data-holder-rendered="true">
      <div class="text-muted text-center">
        Photo by <a href="https://unsplash.com/photos/yscrM1AOEKI">Andrey Metelev</a> on <a
          href="https://unsplash.com/">Unsplash</a>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette m-5">
    <div class="col-md-7 p-5">
      <h2 class="featurette-heading">We <fa-icon [icon]="faHeart"></fa-icon> Layer 2! <span class="text-muted">Cheap and
          simple.</span></h2>
      <p class="lead">In order to keep the gas price low, and the environment safe, we utilize Layer 2 technology to do
        all the Smart Contract logic. That makes it really cheap to use this shop. Usability and simplicity is also a
        priority in the design of this software.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" alt="Layer 2 Scalability" style="width: 500px; height: 500px;"
        src="assets/windmills.jpg" data-holder-rendered="true">
      <div class="text-muted text-center">
        Photo by <a href="https://unsplash.com/photos/4NhqyQeErP8">Zbynek Burival</a> on <a
          href="https://unsplash.com/">Unsplash</a>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>