<div class="container">
  <w3s-title title="Privacy Statement">Learn what data is collected and how it is used.</w3s-title>
  <div class="row justify-content-center">
    <div class="col-8 mb-4">
      <p>
        Please be aware that this is only an open source front-end software. ALL the data associated with a shop is
        saved on the blockchain by interacting with the individual contracts. The creator of this shop software has no
        influence over who is reading this public data.<br>
        The shop frontend is hosted via IPFS and thus can be decentrally hosted by multiple persons or organizations
        around the globe. The seed node that is operated by the creator of this shop does not collect any user information,
        but this can not be guaranteed by other nodes providing the content of this page.<br>
        If you are concerned that a IPFS gateway could gather user data, please run a own gateway, or just download the
        code of this shop and run it locally on your machine.
      </p>
      <p>
        When a user creates his shop, all associated data is put into <a href="https://www.arweave.org/"
          target="_blank">Arweave</a> via the Bundlr network. Arweave is a storage centric
        blockchain and Bundlr operates a bridge to allow data to be saved via Ethereum.
        Please check with <a href="https://bundlr.network/" target="_blank">Bundlr</a> if the collect personal
        information like the IP address when you interact with their bridge.
      </p>
      <p>
        When you create a shop you mint an NFT that is originally associated with your wallet address that was used
        create your shop. If you want to display all the data that is saved in the shop contract, please use the link
        in the footer of this page.
      </p>
    </div>
  </div>
</div>