<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" routerLinkActive="active">
      <w3s-text-loading></w3s-text-loading>
    </a>
    <div *ngIf="isShopResolved$ | async" class="collapse navbar-collapse">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="btn btn-outline-success" [routerLink]="['/', 's', shopIdentifier$ | async, 'about']">
            About
          </a>
        </li>
      </ul>
    </div>
    <w3s-nav-wallet class="d-flex"></w3s-nav-wallet>
  </div>
</nav>

<w3s-alpha-warning></w3s-alpha-warning>
<w3s-network-indicator></w3s-network-indicator>

<router-outlet></router-outlet>