table.items td,
th {
  vertical-align: middle;
}

@import "~bootstrap/scss/bootstrap";

.buttons {
  @extend .text-center;
}

.buttons a {
  @extend .mx-1;
  @extend .mt-auto;
}

.no-items {
  margin: 12em 0 12em 0;
}

/*
Should limit image size, but does not work.
img.card-img-top {
  display: block;
  max-width: 450px;
  max-height: 300px;
  width: auto;
  height: auto;
}

*/
