table.items td,
th {
  vertical-align: middle;
}

@import "~bootstrap/scss/bootstrap";

.buttons {
  @extend .text-center;
}

.buttons a {
  @extend .mx-1;
  @extend .mt-auto;
}

.no-items {
  margin: 12em 0 12em 0;
}

.item {
  cursor: pointer;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
