<section class="py-3">
  <div class="container">
    <w3s-title title="My Items">
      List of your purchased items from this shop. You can download their content here.
    </w3s-title>
    <div class="row py-1">
      <div class="col">
        <w3s-progress *ngIf="progress$ | async" [progress]="progress$ | async"></w3s-progress>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Quantity</th>
              <th scope="col">Name</th>
              <th scope="col">Download</th>
            </tr>
          </thead>
          <tbody *ngIf="ownedItems$ | async as ownedItems">
            <tr *ngFor="let oi of ownedItems; index as i">
              <th scope="row" class="align-middle">{{i + 1}}</th>
              <td class="align-middle">{{oi.amount}}</td>
              <td class="align-middle"><a [routerLink]="['..','item', oi.tokenId]">{{oi.nft.default.name}}</a>
              <td><button (click)="download(oi)" class="btn btn-primary btn-sm">Download</button></td>
            </tr>
          </tbody>
          <tbody *ngIf="noItems">
            <tr>
              <td colspan="4" class="" style="text-align: center;">
                <h5 class="d-block mx-auto mb-2 mt-2 display-4 text-muted">
                  <fa-icon [icon]="faCartShopping"></fa-icon>
                </h5>
                <p class="lead">You did not buy any item yet. Checkout the shop and buy something!</p>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <w3s-back-btn></w3s-back-btn>
  </div>
</section>