<div class="container mt-2 mb-5">
  <div class="row card2">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">{{itemCount$ | async}} items</div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div *ngFor="let i of items$ | async;" class="row main align-items-center">
          <div class="col-2">
            <!-- Add a thumbnail when item referencing was improved -->
          </div>
          <div class="col">
            <div class="row"><a [routerLink]="['..', 'item', i.itemId]">{{i.name}}</a></div>
          </div>
          <div class="col-2">
            <button (click)="decrementItemQuantity(i.itemId)" class="btn btn-inc btn-outline-secondary btn-sm">
              <fa-icon [icon]="faMinus"></fa-icon>
            </button>
            <span class="px-2">{{i.quantity}}</span>
            <button (click)="incrementItemQuantity(i.itemId)" class="btn btn-inc btn-outline-secondary btn-sm">
              <fa-icon [icon]="faPlus"></fa-icon>
            </button>
          </div>
          <div class="col-2">
            <w3s-price [priceData]="i.priceTotal"></w3s-price>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-sm btn-dark" (click)="removeItem(i.itemId)">
              <fa-icon [icon]="faTrashCan"></fa-icon>
            </button>
          </div>
        </div>

        <div *ngIf="(itemCount$ | async) === 0" class="row main align-items-center">
          <div class="col-8 text-muted">
            Your cart is empty.
          </div>
        </div>
      </div>

      <div class="back-to-shop mt-3">
        <w3s-back-btn routerLink=".."></w3s-back-btn>
      </div>
    </div>

    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr>
      <div *ngIf="(totalPrice$ | async) !== null" class="row">
        <div class="col" style="padding-left:0;">TOTAL</div>
        <div class="col text-right">
          <w3s-price [priceData]="totalPrice$ | async"></w3s-price>
        </div>
      </div>

      <button type="button" [disabled]="(canBuy$ | async) === false" (click)="checkout()"
        class="btn btn-dark btn-block mt-4">
        <fa-icon [icon]="faBuy" class="mr-2"></fa-icon> BUY
      </button>
    </div>
  </div>
</div>