<div class="container mt-2 mb-5">
  <div class="row card2">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">{{itemCount$ | async}} items</div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div *ngFor="let i of items$ | async;" class="row main align-items-center">
          <div class="col-2"></div>
          <div class="col">
            <div class="row">{{i.name}}</div>
          </div>
          <div class="col"> <a (click)="decrementItemQuantity(i.itemId)">-</a>
            <a href="#" class="border">{{i.quantity}}</a>
            <a (click)="incrementItemQuantity(i.itemId)">+</a>
          </div>
          <div class="col">
            <w3s-price [priceData]="i.priceTotal"></w3s-price>
            <a class="close" (click)="removeItem(i.itemId)">
              <fa-icon [icon]="faTrashCan"></fa-icon>
            </a>
          </div>
        </div>

        <div *ngIf="(itemCount$ | async) === 0" class="row main align-items-center">
          <div class="col-8 text-muted">
            Your cart is empty.
          </div>
        </div>
      </div>

      <div class="back-to-shop mt-3">
        <w3s-back-btn routerLink=".."></w3s-back-btn>
      </div>
    </div>

    <div class="col-md-4 summary">
      <div>
        <h5><b>Summary</b></h5>
      </div>
      <hr>
      <div *ngIf="(totalPrice$ | async) !== null" class="row">
        <div class="col" style="padding-left:0;">TOTAL</div>
        <div class="col text-right">
          <w3s-price [priceData]="totalPrice$ | async"></w3s-price>
        </div>
      </div>

      <button class="btn" [disabled]="(canBuy$ | async) === false" (click)="checkout()">BUY</button>
    </div>
  </div>
</div>