<!-- First Footer Section -->
<div *ngIf="(showShopFooter$ | async) === true" class="container py-4">
  <w3s-footer-shop-name class="row mb-4 mb-md-0"></w3s-footer-shop-name>
</div>
<!-- Second Footer Section -->
<div class="pt-3 second-footer">
  <div class="container text-muted">
    <div class="row mb-2">
      <div class="col-md-6">
        <table class="table table-sm table-borderless text-muted">
          <tr>
            <td>Software Build</td>
            <td>{{websiteHash}}</td>
          </tr>
          <tr>
            <td>Factory Contract</td>
            <td>
              <w3s-contract-address [address]="factoryContract"></w3s-contract-address>
            </td>
          </tr>
          <tr *ngIf="shopContractAddress$ | async as shopContractAddress">
            <td>Shop Contract</td>
            <td>
              <w3s-contract-address [address]="shopContractAddress"></w3s-contract-address>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row my-1">
      <div class="col text-center">
        Powered by <a routerLink="/">w3shop.eth</a> |
        <a routerLink="/legal/disclaimer" target="_blank">Disclaimer</a> |
        <a routerLink="/legal/usage" target="_blank">Usage Policy</a> |
        <a routerLink="/legal/licenses" target="_blank">Licenses</a>
      </div>
    </div>
    <div class="col text-center">
      Code licensed under <a href="https://www.gnu.org/licenses/gpl-3.0.de.html" target="_blank">GPL-3.0</a>
    </div>
    <!--
      Ornament seperator. Not looking good at the moment.
          <div class="row pt-2">
      <div class="col seperator"></div>
    </div>
    -->

    <div class="row pt-2 pb-4">
      <div class="col text-center">
        Developed with ❤️ by <a href="https://mirror.xyz/tfelix.eth" target="_blank">tfelix.eth</a>
      </div>
    </div>
  </div>
</div>