.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body {
  background: #202628;
}
.loader-line-2 {
  width: 60px;
  height: 30px;
  display: flex;
}
.loader-line-2 > div {
  background: #6c3d52;
  height: 100%;
  width: 5px;
  margin-right: 1px;
  display: inline-block;
}
.loader-line-2 > div {
  background-color: #5f686a;
  animation: anm-LL-2-move 1.5s infinite ease-in-out;
  transform: scaleY(0.05) translateX(-5px);
}
.loader-line-2 .ln1 {
  animation-delay: 0.05s;
}
.loader-line-2 .ln2 {
  animation-delay: 0.1s;
}
.loader-line-2 .ln3 {
  animation-delay: 0.15s;
}
.loader-line-2 .ln4 {
  animation-delay: 0.2s;
}
.loader-line-2 .ln5 {
  animation-delay: 0.25s;
}
.loader-line-2 .ln6 {
  animation-delay: 0.3s;
}
.loader-line-2 .ln7 {
  animation-delay: 0.35s;
}
.loader-line-2 .ln8 {
  animation-delay: 0.4s;
}
.loader-line-2 .ln9 {
  animation-delay: 0.45s;
}
.loader-line-2 .ln10 {
  animation-delay: 0.5s;
}
@keyframes anm-LL-2-move {
  10% {
    background: #bbb;
  }
  15% {
    transform: scaleY(1.2) translateX(10px);
    background: #bbb;
  }
  90%,
  100% {
    transform: scaleY(0.05) translateX(-5px);
  }
}
