<section class="py-2">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="alert alert-danger" role="alert">
          <h5 class="alert-heading">
            <fa-icon [icon]="faTriangleExclamation"></fa-icon> This is Alpha Software <fa-icon
              [icon]="faTriangleExclamation">
            </fa-icon>
          </h5>
          <p>It is currently only connected to <a href="https://faucet.rinkeby.io/">Rinkeby</a> and <a
              href="https://developer.offchainlabs.com/docs/public_testnet">Arbitrum Rinkeby Testnet</a>. The smart
            contracts are neither
            very well tested nor audited. Please use for testing only!</p>
        </div>
      </div>
    </div>
  </div>
</section>