@import "~bootstrap/scss/bootstrap";

// FIXME This is broken and seems not to work to use bootstrap variables.

.keyword {
  cursor: pointer;
}

span.keyword:hover {
  background-color: $red !important;
}

/*
Does not work properly. All are visible at once.
:host .icon {
  display: none;
}

:host:hover .icon {
  display: inline;
}*/
