@import "~bootstrap/scss/bootstrap";

.keyword {
  cursor: pointer;
}

span.keyword:hover {
  background-color: $red !important;
}

/*
Does not work properly. All are visible at once.
:host .icon {
  display: none;
}

:host:hover .icon {
  display: inline;
}*/
