<div class="alert alert-primary" role="alert">
  Enter the basic information about your shop. This information will be later displayed when user want to access
  your shop.
</div>

<form [formGroup]="basicShopInfo">
  <div class="form-group row">
    <div class="col">
      <label for="shopName">Shop Name</label>
      <input formControlName="shopName" type="text" class="form-control" id="shopName"
        placeholder="Enter your Shop Name" aria-describedby="shopNameHelp">
      <small id="shopNameHelp" class="form-text text-muted">
        Choose an interesting name for your shop. Keep it under 20 characters.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <label for="shortDescription">Short Description</label>
      <input formControlName="shortDescription" type="text" class="form-control" id="shortDescription"
        placeholder="Short description of your shop" aria-describedby="shortDescriptionHelp">
      <small id="shortDescriptionHelp" class="form-text text-muted">
        Try to come up with a short punch-line describing the contents of your shop. This will also be
        included in the generated cards, if someone shares your shop. Maximum are 160 characters.
      </small>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">
      <label for="keywords">Keywords</label>
      <w3s-keywords-editor [keywords]="keywords">
        Describe the contents of your shop with keywords. This makes it easier to search for your shop. Seperate
        the keywords with a comma.
      </w3s-keywords-editor>
    </div>
  </div>

  <div *ngIf="isAdvanced" class="form-group row">
    <div class="col">
      <label for="contractName">Advanced: Shop Contract Name</label>
      <input type="text" class="form-control" id="contractName" placeholder="Shop Token Contract Name"
        aria-describedby="contractNameHelp">
      <small id="contractNameHelp" class="form-text text-muted">
        Block Explorer sometimes use this name to identify a token. Even though this name can technically be
        changed later, it seems that most explorer only set this name once initially, so choose a fitting
        <b>short</b> name. Should be 8 characters or less.
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Detailed Shop Description</label>

    <w3s-markdown-editor placeholder="Detailed Description">
      Here you can place a longer, descriptive text of your shop. Depending on your jurisdiction you might need to
      also place an imprint here. You can use <w3s-external-link
        href="https://www.markdownguide.org/">Markdown</w3s-external-link>.
    </w3s-markdown-editor>
  </div>
</form>