<w3s-header></w3s-header>

<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div *ngFor="let i of items$ | async;" class="col mb-5">
        <div class="card h-100">
          <!-- Product image-->
          <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" [alt]="i.name">
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{i.name}}</h5>
              <!-- Product price-->
              <w3s-price [priceData]="i.price"></w3s-price>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer pt-0 border-top-0 bg-transparent">
              <input #quantity type="text" size="2" class="form-control mb-2 mr-sm-2" value="1">
              <button type="button" class="btn btn-outline-dark mb-2" (click)="addItemToCart(i, quantity)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>