<div class="container">
  <w3s-title title="Usage Policy">Guidelines and rules when using this shop software.</w3s-title>
  <div class="row justify-content-center">
    <div class="col-8 mb-2">
      <p>
        This shop should be used to allow people to distribute their content freely and safe whill optimizing their
        revenue by removing intermediate parties. There are a few usage guidlines for this shop protocol. Please stick
        to them to make this journey a nice experience for everyone involved.
      </p>

      <ol class="policy-items">
        <li>
          <div class="ms-2 me-auto">
            <div class="fw-bold">Only sell content you own the rights</div>
            Violating copyrights is a serious crime and does not help the creator community. Please only sell digital
            content that you are legally allowed to do. You must either be the creator or own the permission to do so.
            If in doubt, please check with a legal expert first.
          </div>
        </li>

        <li>
          <div class="ms-2 me-auto">
            <div class="fw-bold">No hateful content</div>
            Please refrain from selling items that are hurtful to certain groups of people, contains racism, sexism or
            any other form of derogatory content.
          </div>
        </li>

        <li>
          <div class="ms-2 me-auto">
            <div class="fw-bold">No erotic of pornographic content</div>
            As of now there is no safe way on the blockchain to verify the age of the creator or the seller. To protect minors it is
            therefore necessairy to abstain from selling any form of pornographic or erotic material.
          </div>
        </li>
      </ol>
    </div>
    <div class="col-8">
      <p>
        This list is very likely not exhaustive and with time it additional items or rules might get added. Please check
        from time to time and re-evaluate the items you sell to stick to those rules.
      </p>
    </div>
  </div>
</div>