<section class="py-3 container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <div class="card text-center">
            <div class="card-body">
              <!-- Later let this open in an overlay window/modal in the shop itself -->
              <a [href]="mainImageUrl" target="_blank">
                <img class="img-fluid" alt="Product Image" [src]="mainImageUrl">
              </a>
            </div>
            <div class="card-footer text-center">
              <div class="row align-items-center no-gutter">
                <div *ngFor="let t of (itemDetails$ | async)?.thumbnails;" class="col-3 mb-sm-2">
                  <img (click)="changeImage(t)" class="img-thumbnail img-fluid" [src]="t">
                </div>
              </div>
              <!-- Add Hover effects and make is visible which thumbnail currently is selected -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3>{{(itemDetails$ | async)?.itemName}}</h3>
          <p class="pt-3 text-muted">{{(itemDetails$ | async)?.description}}</p>
          <hr>
          <p class="h3 text-end">
            <w3s-price [priceData]="(itemDetails$ | async)!.price"></w3s-price>
          </p>
          <div class="text-muted pt-2 row">
            <div class="col text-end">{{(itemDetails$ | async)?.filename}} <w3s-mime-icon class="ps-2"
                [mimeType]="(itemDetails$ | async)!.mime"></w3s-mime-icon></div>
          </div>
          <hr>
          <p class="pt-3 lead" [innerHTML]="(itemDetails$ | async)?.detailedDescription"></p>

          <div class="mt-5">
            <form class="form-inline">
              <label class="sr-only" for="amount">Amount</label>
              <select #quantity id="amount" class="custom-select mb-2 mr-sm-2">
                <option *ngFor="let i of amountRange" [selected]="i === 1" [value]="i">{{i}}</option>
              </select>

              <w3s-add-cart-btn [shopItem]="(itemDetails$ | async)!.shopItem" [quantity]="quantity"></w3s-add-cart-btn>
            </form>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <w3s-back-btn routerPath="../.."></w3s-back-btn>
      </div>
    </div>
  </div>
</section>