<section class="py-3 container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <w3s-title [title]="itemName$ | async"></w3s-title>
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img id="main-image" [src]="mainImageUrl" width="250" />
              </div>
              <div class="thumbnail text-center">
                <img *ngFor="let t of thumbnails$ | async;" (click)="changeImage(t)" [src]="t" width="70">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="mt-4 mb-3">
                <!-- Use this when we have collections <span class="text-uppercase text-muted brand">Collection Name</span>-->
                <h5 class="text-uppercase">{{itemName$ | async}}</h5>
                <div class="price d-flex flex-row align-items-center">
                  <w3s-price [priceData]="price$ | async"></w3s-price>
                </div>
              </div>
              <p class="about">{{description$ | async}}</p>
              <div class="cart mt-4 align-items-center">
                <input #quantity type="text" size="2" class="form-control mb-2 mr-sm-2" value="1">
                <w3s-add-cart-btn [shopItem]="item$ | async" [quantity]="quantity"></w3s-add-cart-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <w3s-back-btn relPath="../.."></w3s-back-btn>
  </div>
</section>