<section class="py-2 container">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        <h5 class="alert-heading">
          <fa-icon [icon]="faTriangleExclamation"></fa-icon> This is Alpha Software <fa-icon
            [icon]="faTriangleExclamation">
          </fa-icon>
        </h5>
        <div *ngIf="isDevelopment">
          It is currently only connected to <a href="https://developer.offchainlabs.com/docs/public_testnet">Arbitrum
            Goerli Testnet</a>. The smart contracts are neither well tested nor audited.
          <b>Please use for testing only!</b>
          <br>
          Bundlr is used in devnet mode, that means <b>no real uploads</b> to Arweave take place. Shop setup is
          therefore not possible in this mode.
        </div>
        <div *ngIf="!isDevelopment">
          The smart contracts are neither well tested nor audited. <b>Please use for testing only!</b>
        </div>
      </div>
    </div>
  </div>
</section>