<section class="py-2">
  <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal" id="start">Create your own Shop</h1>
      <p class="fs-5 text-muted">
        Fill out the form below and after just 3 steps you will be the owner of your own
        decentralized shop!
      </p>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <w3s-existing-shop-warning></w3s-existing-shop-warning>
    </div>
  </div>
</div>

<div *ngIf="isShopDataPresent" class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="alert alert-warning" role="alert">
        Some previously entered data for this form was detected.<br>
        The form was auto-completed. Please check if everything is still correct.
      </div>
    </div>
  </div>
</div>

<w3s-wizard #wizard (nextStepEvent)="stepChanged($event)">
  <w3s-wizard-step #step1 name="Basic Information">
    <w3s-step-basic-info #basicInfo (isValidEvent)="step1.setExit($event)"
      [isAdvanced]="isAdvanced"></w3s-step-basic-info>
  </w3s-wizard-step>

  <w3s-wizard-step #step2 name="Marketplace Settings">
    <w3s-step-marketplace #marketplace (isValidEvent)="step2.setExit($event)"
      [isAdvanced]="isAdvanced"></w3s-step-marketplace>
  </w3s-wizard-step>

  <w3s-wizard-step #step3 name="Confirmation">
    <w3s-step-confirm-usage (isValidEvent)="step3.setExit($event)"></w3s-step-confirm-usage>
  </w3s-wizard-step>

  <w3s-wizard-step name="Shop Deployment">
    <div class="alert alert-primary" role="alert">
      You can now start to deploy the shop to the blockchain. This involves multiple transactions, but don't worry
      this wizard will show you what happens at each step and guide you through the process.
    </div>

    <div class="row mt-4 text-center">
      <div class="col">
        <button *ngIf="(isWalletConnected$ | async) === false" (click)="connectWallet()" type="button"
          class="btn btn-primary btn-lg px-4">
          <fa-icon [icon]="faWallet"></fa-icon> Connect Wallet
        </button>

        <w3s-deploy-steps *ngIf="(isWalletConnected$ | async) === true"></w3s-deploy-steps>
      </div>
    </div>
  </w3s-wizard-step>
</w3s-wizard>