<section class="py-2">
  <div class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Create your own Shop</h1>
      <p class="fs-5 text-muted">Fill out the form below and after just 3 steps you will be the owner of you own
        unstoppable shop!</p>
    </div>
  </div>
</section>

<form [formGroup]="setupShopForm">
  <section class="py-3">
    <div *ngIf="step === 0" formGroupName="firstStep" class="container">
      <div class="row" *ngIf="isShopUrlPresent">
        <div class="col">
          <div class="alert alert-warning" role="alert">
            It appears that you already created a shop. It is available under <a [href]="newShopUrl">{{newShopUrl}}</a>.
            Please <strong>bookmark</strong> this link if you do not want to loose access to it.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="alert alert-primary" role="alert">
            This wizard will guide you through the process of creating your self-owned and permanent Web3 shop to sell
            digital goods!<br>
            Let's jump in, its super easy! Most of the values can be edited later on, so don't worry.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group row">
            <label for="shopName" class="col-sm-2 col-form-label"><strong>Shop Name</strong></label>
            <div class="col-sm-10">
              <input formControlName="shopName" type="text" id="shopName" maxlength="50" class="form-control"
                placeholder="Enter your Shop Name" aria-describedby="shopNameHelp">
              <small id="shopNameHelp" class="form-text text-muted">
                Choose an interesting name for your shop. Keep it under 50 characters.
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label for="shortDesc" class="col-sm-2 col-form-label"><strong>Short Description</strong></label>
            <div class="col-sm-10">
              <input formControlName="shortDescription" type="text" class="form-control" id="shortDesc" maxlength="160"
                aria-describedby="shortDescHelp" placeholder="Short Description">
              <small id="shortDescHelp" class="form-text text-muted">
                Try to come up with a short punch-line describing the contents of your shop. This will also be included
                in the generated cards, if someone shares your shop. Maximum are 160 characters.
              </small>
            </div>
          </div>
          <div class="form-group row">
            <label for="keywords" class="col-sm-2 col-form-label"><strong>Keywords</strong></label>
            <div class="col-sm-10">
              <w3s-keywords-editor [keywords]="keywords"></w3s-keywords-editor>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button [disabled]="!setupShopForm.get('firstStep').valid" class="btn btn-primary"
                (click)="nextStep(1)">Next Step
                <fa-icon [icon]="faAngleRight"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--- STEP 2 -->
    <div *ngIf="step === 1" class="container">
      <div class="row">
        <div class="col">
          <div class="alert alert-primary" id="descriptionHelp" role="alert">
            This is a longer description about your shop. You can include more personal details here in order to connect
            with your customers. You can also use <a href="https://daringfireball.net/projects/markdown/syntax"
              target="_blank">Markdown</a> to format this text if you want.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <form [formGroup]="setupShopForm" (ngSubmit)="createNewShop()">
            <div class="form-group row">
              <label for="description" class="col-sm-2 col-form-label"><strong>Description</strong></label>
              <div class="col-sm-10">
                <textarea class="form-control" id="description" rows="25" aria-describedby="descriptionHelp"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button [disabled]="!setupShopForm.get('secondStep').valid" (click)="nextStep(2)"
                  class="btn btn-primary">Next Step <fa-icon [icon]="faAngleRight"></fa-icon></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- STEP 3 -->
    <div *ngIf="step === 2" class="container">
      <div class="row">
        <div class="col">
          <div class="alert alert-warning" role="alert">
            <strong>Disclaimer:</strong>
            <p>Keep in mind that you must not sell content that is either illegal or to which
              you don't have permission to sell it. Doing so will most likly send you to jail.</p>
            <p>THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT
              LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO
              EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
              IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
              THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
            <div class="custom-control custom-checkbox mt-4">
              <input formControlName="acceptTerms" type="checkbox" class="custom-control-input" id="acceptTerms">
              <label class="custom-control-label" for="acceptTerms">I have understood these responsibilities</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <button *ngIf="!(isWalletConnected$ | async)" (click)="connectWallet()" type="button"
            class="btn btn-primary btn-lg btn-block">
            <fa-icon [icon]="faWallet"></fa-icon> Connect Wallet
          </button>
          <button *ngIf="isWalletConnected$ | async" [disabled]="!(isReadyToDeploy$ | async)" (click)="createNewShop()"
            type="button" class="btn btn-secondary btn-lg btn-block">
            <fa-icon [icon]="faFileSignature"></fa-icon> Deploy Shop Contract
          </button>
        </div>
      </div>
    </div>

    <!-- SHOP CREATION STEP -->
    <div *ngIf="step === 3" class="container">
      <div class="row">
        <div class="col">
          <h1>Your shop is being created.</h1>

          <p>Deploying Smart Contract...</p>
        </div>
      </div>
    </div>

    <!-- END STEP -->
    <div *ngIf="step === 4" class="container">
      <div class="row">
        <div class="col">
          <h1>Congratulations! You are now a Shop Owner!</h1>
          Your shop will be available under <a [href]="newShopUrl">{{newShopUrl}}</a>.
          It is very important to bookmark this URL, so you can access your shop
          later.<br>
          Without this URL you will not be able to find this shop again.
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </section>
</form>