<div class="container mt-2 mb-5">
  <div class="row card2">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>Shopping Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">{{itemCount$ | async}} items</div>
        </div>
      </div>
      <div class="row border-top border-bottom">
        <div *ngFor="let i of items$ | async;" class="row main align-items-center">
          <div class="col-2"><img class="img-fluid" [src]="i.imageUrl$ | async"></div>
          <div class="col">
            <div class="row text-muted">{{i.collectionName$ | async}}</div>
            <div class="row">{{i.name}}</div>
          </div>
          <div class="col"> <a href="#">-</a>
            <a href="#" class="border">{{i.quantity}}</a>
            <a href="#">+</a>
          </div>
          <div class="col">
            <w3s-price [priceData]="i.priceTotal"></w3s-price>
            <a class="close" (click)="removeItem(i.collectionId, i.itemId)">
              <fa-icon [icon]="faTrashCan"></fa-icon>
            </a>
          </div>
        </div>

        <div *ngIf="(itemCount$ | async) === 0" class="row main align-items-center">
          <div class="col-8 text-muted">
            Your cart is empty. Check out the <a routerLink="..">shop</a> if you fine
            something for you!
          </div>
        </div>

        <div class="back-to-shop"><a routerLink="..">
            <fa-icon [icon]="faAngleLeft"></fa-icon> Back to shop
          </a></div>
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">TOTAL</div>
          <div class="col text-right">&euro; 132.00</div>
        </div>
        <!--
        <form>
          <p>GIVE CODE</p> <input id="code" placeholder="Enter your code">
        </form>

      <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">&euro; 137.00</div>
      </div> -->
        <button class="btn">CHECKOUT</button>
      </div>
    </div>
  </div>