/* Having to copy this for the shop footer is not ideal. Maybe there is a better
 * solution.
 */

li {
  line-height: 1.6rem;
}

h5 {
  margin-bottom: 1.2rem;
}

h5 a {
  text-decoration: none;
  color: white;
}

footer {
  padding-top: 2rem;
}

.second-footer {
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 0.85rem;
}

.slug {
  font-size: 0.9rem;
}

footer ul > li {
  margin-bottom: 0.3rem;
}

.second-footer td {
  padding: 0;
  vertical-align: baseline;
}

.second-footer a {
  /* Improve this color scheme with a shared file that overrides Bootstrap/can be imported. */
  color: #ced4da;
}

.second-footer a:hover {
  color: #f8f9fa;
}

