<!-- NICE Footer style: https://terragrunt.gruntwork.io/ -->
<!-- First Footer Section -->
<footer class="footer fixed-bottom">
  <div class="container">
    <div class="row mb-4 mb-md-0">
      <div class="col-12 col-md-6 col-lg-4">
        <h5 class="text-uppercase"><a class="text-reset" routerLink="/">W3Shop.eth</a></h5>
        <p class="slug mt-2">
          Sell digital goods with your decentralized store.<br>
          No man in the middle. Get payed in crypto.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <h5 class="text-uppercase">Developers</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <w3s-footer-link href="https://github.com/tfelix/w3shop/wiki" text="Documentation" [icon]="faBook">
            </w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link href="https://github.com/tfelix/w3shop" text="Github" [icon]="faGithub"></w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link routerLink="/tools" text="Github" [icon]="faTools"
              text="Tools &amp; Helper"></w3s-footer-link>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-2">
        <h5 class="text-uppercase">Legal</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <w3s-footer-link routerLink="/legal/privacy" text="Privacy Policy" [icon]="faUmbrella"></w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link routerLink="/legal/disclaimer" text="Disclaimer" [icon]="faGavel"></w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link routerLink="/legal/usage" text="Usage Policy" [icon]="faSection"></w3s-footer-link>
          </li>
          <li>
            <w3s-footer-link routerLink="/legal/licenses" text="Licenses" [icon]="faFileContract"></w3s-footer-link>
          </li>
        </ul>
      </div>
    </div>
    <!-- Second Footer Section -->
    <div class="second-footer row pt-3">
      <div class="col">
        <table class="table-sm">
          <tr>
            <td>Software Build</td>
            <td>{{websiteHash}}</td>
          </tr>
          <tr>
            <td>Factory Contract</td>
            <td>
              <w3s-contract-address [address]="factoryContract"></w3s-contract-address>
            </td>
          </tr>
        </table>
      </div>
      <div class="col text-end align-self-end">
        <w3s-footer-link href="https://twitter.com/w3shop_eth" text="Twitter" [icon]="faTwitter"></w3s-footer-link>
        Developed with ❤️ by <a href="https://mirror.xyz/tfelix.eth" class="text-reset" target="_blank">tfelix.eth</a> /
        <a href="https://www.gnu.org/licenses/gpl-3.0.de.html" target="_blank">GPL-3.0</a>
      </div>
    </div>
  </div>
</footer>