/* Having to copy this for the shop footer is not ideal. Maybe there is a better
 * solution.
 */

 a {
  text-decoration: none;
 }

footer {
  background: linear-gradient(100deg, #1b242e 5%, #2a3644 98%);
  color: #d8d8d8;
}

li {
  line-height: 1.6rem;
}

h5 {
  margin-bottom: 1.2rem;
}

footer {
  padding-top: 2rem;
}

.second-footer {
  font-size: 0.85rem;
  margin-bottom: 3rem;
}

.slug {
  font-size: 0.9rem;
}

footer ul > li {
  margin-bottom: 0.3rem;
}

.second-footer td {
  padding: 0;
  vertical-align: baseline;
}

.second-footer a {
  /* Improve this color scheme with a shared file that overrides Bootstrap/can be imported. */
  color: #ced4da;
}

.second-footer a:hover {
  color: rgb(233, 233, 233);
}
