<section class="py-3">
  <div class="container">
    <w3s-title title="Admin Dashboard" text="Overview of your shops details and earnings."></w3s-title>
    <div class="row  mb-4">
      <w3s-payment-receiver class="col-sm-6"></w3s-payment-receiver>
      <w3s-bundlr-balance class="col-sm-6"></w3s-bundlr-balance>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mb-2">Issues</h2>

        <div *ngIf="(merkleRootIssue$ | async)" class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Data Inconsistency</h4>
          <p>
            The information regarding your sold items is not properly saved in your shop contract. Your customer won't
            be able to buy anything until this issue is solved.
          </p>
          <p class="mb-0 text-right"><button class="btn btn-primary" (click)="solveMerkleRootIssue()">Solve
              Issue</button></p>
        </div>

        <div *ngIf="hasNoIssues$ | async" class="alert alert-primary" role="alert">
          There are currently no issues found with your shop.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <w3s-dangers-settings></w3s-dangers-settings>
      </div>
    </div>
  </div>
</section>