<section class="py-3">
  <div class="container">
    <w3s-title title="Admin Dashboard" text="Overview of your shops details and earnings."></w3s-title>
    <div class="row  mb-4">
      <w3s-payment-receiver class="col-sm-6"></w3s-payment-receiver>
      <w3s-bundlr-balance class="col-sm-6"></w3s-bundlr-balance>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mb-2">Issues</h2>

        <div *ngIf="(merkleRootIssue$ | async)" class="alert alert-warning" role="alert">
          <h4 class="alert-heading">Data Inconsistency</h4>
          <p>
            The information regarding your sold items is not properly saved in your shop contract. Your customer won't
            be able to buy anything until this issue is solved.
          </p>
          <p class="mb-0 text-right"><button class="btn btn-primary" (click)="solveMerkleRootIssue()">Solve
              Issue</button></p>
        </div>

        <div *ngIf="hasNoIssues$ | async" class="alert alert-primary" role="alert">
          There are currently no issues found with your shop.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mb-2">Danger Section</h2>
        <p>This is the danger section and contains some destructive operations. Handle with care!</p>
        <hr>
        <form>
          <div class="mb-3">
            <label for="shop-name-sec" class="form-label">Shop Name</label>
            <input type="text" #closingShopName (change)="checkClosingShop($event)" class="form-control"
              id="shop-name-sec" placeholder="Enter your Shop" aria-describedby="closingHelp">
            <div id="closingHelp" class="form-text">Enter the current name of your shop ({{shopName}}) to enable the
              closing operation. <strong>YOU CAN NOT UNDO THIS. (Shop closing is currently disabled and will be
                enabled in an upcoming update)</strong></div>
          </div>
          <div class="text-right">
            <button type="button" [disabled]="true" (click)="closeShop()" class="btn btn-danger">Close
              Shop</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>