<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h4>Step {{currentStep + 1}} <small class="text-muted">{{currentStepName}}</small></h4>
      <hr class="mb-4">

      <ng-content></ng-content>

      <div class="row mt-2 mb-3">
        <div class="col-auto mr-auto">
          <button *ngIf="hasPrevStep" class="btn btn-primary" [disabled]="isBackDisabled" (click)="prev()">Back</button>
        </div>
        <div class="col-auto">
          <button *ngIf="hasNextStep" class="btn btn-primary" (click)="next()" [disabled]="canExit() === false">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>