<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <h3 class="card-header"><fa-icon class="mr-1" [icon]="faSuccess"></fa-icon> You created your shop!</h3>
        <div class="card-body">
          <div class="my-2 card-text">
            Congratulations, you are now an owner of a W3Shop! You can now visit and share your shop under the
            following URL:
          </div>

          <div class="text-center lead bg-light url mt-3 mb-2">
            <a [href]="existingShopUrl" class="text-dark">{{existingShopUrl}}</a>
          </div>

          <div class="alert alert-danger" role="alert">
            <b class="text-danger"><fa-icon [icon]="faTriangleExclamation"></fa-icon> Attention:</b> It is very
            important to bookmark this URL! If you forget it, there is no easy way to retrieve it again.
          </div>

          <!-- Add some next steps what the users can do.
          <p class="py-2 card-text">
            Next Steps:
          </p>
        -->

          <p class="card-text text-center">
            <a [href]="existingShopUrl" class="btn btn-primary">Go to my Shop</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>