<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="card text-center mb-4">
        <h5 class="card-header">Success!</h5>
        <div class="card-body">
          <h5 class="card-title"><fa-icon [icon]="faSuccess"></fa-icon> Your shop was created!</h5>
          <p class="pt-1 card-text">
            You are now an owner of a W3Shop instance. You can now visit your shop under the following URL.
          </p>
          <p class="text-center lead"><a [href]="existingShopUrl">{{existingShopUrl}}</a></p>
          <p class="card-text">
            <b><fa-icon [icon]="faTriangleExclamation"></fa-icon> Attention:</b> It is very important to bookmark this URL. Only if you know this URL you can access your
            shop instance.
          </p>

          <a [href]="existingShopUrl" class="btn btn-primary">Go the Shop</a>
        </div>
      </div>
    </div>
  </div>
</section>